@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.local-video-progress {
  background: linear-gradient(
    to right,
    rgb(124 58 237) 0%,
    rgb(124 58 237) var(--progress),
    rgb(63 63 70) var(--progress),
    rgb(63 63 70) var(--buffer),
    rgb(39 39 42) var(--buffer)
  );
}

.local-video-progress::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: rgb(167 139 250);
  cursor: pointer;
}

.local-video-progress::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 9999px;
  background: rgb(167 139 250);
  cursor: pointer;
}
